.formacao {
  background: #161616;
  color: #ffffff;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../iamgme/detalh.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #0d0d0d;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #9c9c9c;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  background: #0a0a0a;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #878787;
  margin-bottom: 10px;
}

.faculdade-curso {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  color: #ffffff;
  position: relative;
  flex: 1;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #4061cb 0%, #0d32aa 100%);
  position: absolute;
  left: -25px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #878787;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #878787;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../iamgme/crusosss.svg) no-repeat center center;
  position: absolute;
  left: -36px;
}

.idiomas h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #878787;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.idiomas h3::before {
  display: block;
  content: "";
  width: 23px;
  height: 20px;
  background: url(../iamgme/Idiomas.svg) no-repeat center center;
  position: absolute;
  left: -36px;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao-extra span {
  color: #9c9c9c;
}

.idiomas span {
  color: #9c9c9c;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.25rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 20px;
  }
}
